
button:hover {
  background: #72c1ae;
  text-align: center;
  padding: 7px 10x
}

.div-wrapper {
  background-color:floralwhite;
  color:  #72c1ae;
  border-radius: 10px;
  padding: 50px;
  margin: 20px;
  max-width: 30%;
}

body {
    background-color: #b7ded5;
  }